DDR SN3/PSDs/

DDR SN3/Sounds/ScreenSelectMusic music (loop).redir
SNCharacters/alice/DancerVideos/Alice_1.avi
SNCharacters/baby-lon/DancerVideos/Baby-Lon_1.mp4
SNCharacters/disco/DancerVideos/Disco_1.avi
SNCharacters/emi/DancerVideos/Emi_1.mp4
SNCharacters/emi/DancerVideos/Emi_3.avi
SNCharacters/jenny/DancerVideos/Jenny_1.mp4
SNCharacters/jenny/DancerVideos/Jenny_2.avi
SNCharacters/rage/DancerVideos/Rage_1.avi
SNCharacters/yuni/DancerVideos/Yuni_1.avi
DDR SN3/debug.txt
DDR SN3/Other/SongManager Starter.txt
SNCharacters/baby-lonX3/DancerVideos/Baby-Lon_1\.mp4

SNCharacters/emiX3/DancerVideos/Emi_1\.mp4

SNCharacters/emiX3/DancerVideos/Emi_3\.avi

SNCharacters/jennyX3/DancerVideos/Jenny_1\.mp4

SNCharacters/jennyX3/DancerVideos/Jenny_2\.avi

SNCharacters/rageX3/DancerVideos/Rage_1\.avi
