DDR SN3/BGAnimations/BGScripts/Alice_1.avi
DDR SN3/BGAnimations/BGScripts/Disco_1.avi
DDR SN3/BGAnimations/BGScripts/Emi_1.avi
DDR SN3/BGAnimations/BGScripts/Jenny_1.avi
DDR SN3/BGAnimations/BGScripts/Rage_1.avi
DDR SN3/BGAnimations/BGScripts/Yuni_1.avi
DDR SN3/PSDs/Attract/warning.psd
DDR SN3/PSDs/Eval/bannerframeresult.psd
DDR SN3/PSDs/Eval/difficulty.psd
DDR SN3/PSDs/Eval/labels.psd
DDR SN3/PSDs/Eval/player.psd
DDR SN3/PSDs/Gameplay/Judgement/combo number.psd
DDR SN3/PSDs/Gameplay/Judgement/combo.psd
DDR SN3/PSDs/Gameplay/Judgement/hold.psd
DDR SN3/PSDs/Gameplay/Judgement/normjudge.psd
DDR SN3/PSDs/Gameplay/life frames/normal 16_9.psd
DDR SN3/PSDs/Gameplay/life frames/normal 4_3.psd
DDR SN3/PSDs/Gameplay/life frames/oni 16_9.psd
DDR SN3/PSDs/Gameplay/life frames/oni 4_3.psd
DDR SN3/PSDs/Gameplay/life frames/stage number.psd
DDR SN3/PSDs/Gameplay/rave frame.psd
DDR SN3/PSDs/Gameplay/stage frames/GEXTRA.psd
DDR SN3/PSDs/Gameplay/stage frames/GONI.psd
DDR SN3/PSDs/Gameplay/stage frames/GUHextrawide.psd
DDR SN3/PSDs/Gameplay/stage frames/guh.psd
DDR SN3/PSDs/Gameplay/streamhot.psd
DDR SN3/PSDs/Gameplay/streamnormal.psd
DDR SN3/PSDs/Header/_time.psd
DDR SN3/PSDs/Header/centerbase (doubleres).psd
DDR SN3/PSDs/Header/newbase.psd
DDR SN3/PSDs/Header/newerbase.psd
DDR SN3/PSDs/Header/old header.psd
DDR SN3/PSDs/Header/text.psd
DDR SN3/PSDs/Header/textnew.psd
DDR SN3/PSDs/Music Select/SSNexplain.psd
DDR SN3/PSDs/Music Select/_section.psd
DDR SN3/PSDs/Music Select/balloon.psd
DDR SN3/PSDs/Music Select/banner frame course.psd
DDR SN3/PSDs/Music Select/banner frame.psd
DDR SN3/PSDs/Music Select/difficulty labels.psd
DDR SN3/PSDs/Music Select/hightlight base.psd
DDR SN3/PSDs/Music Select/player badge.psd
DDR SN3/PSDs/Music Select/radar base.psd
DDR SN3/PSDs/Music Select/radar base2.psd
DDR SN3/PSDs/Options/OK.psd
DDR SN3/PSDs/Options/P2 OK.psd
DDR SN3/PSDs/Options/explanation.psd
DDR SN3/PSDs/Options/highlight.psd
DDR SN3/PSDs/Profile Select/cardback.psd
DDR SN3/PSDs/Profile Select/cardframeA.psd
DDR SN3/PSDs/Profile Select/dancer.psd
DDR SN3/PSDs/Profile Select/enjoy.psd
DDR SN3/PSDs/Screen Caution/cautionwerds.psd
DDR SN3/PSDs/Screen Logo/remastered logo.psd
DDR SN3/PSDs/Screen Logo/roundgrid.psd
DDR SN3/PSDs/Screen Logo/text.psd
DDR SN3/PSDs/Screen Logo/title mockup.psd
DDR SN3/PSDs/Select PlayMode/licon.psd
DDR SN3/PSDs/Select PlayMode/linfo.psd
DDR SN3/PSDs/Select PlayMode/linfochallenge.psd
DDR SN3/PSDs/Select PlayMode/linfocourse.psd
DDR SN3/PSDs/Select PlayMode/lol.psd
DDR SN3/PSDs/Select PlayMode/playmode rail.psd
DDR SN3/PSDs/Select Style/p1 pad.psd
DDR SN3/PSDs/Stage Info/result top.psd
DDR SN3/PSDs/Stage Info/stage number.psd
DDR SN3/PSDs/Stage Info/stagebottom.psd
DDR SN3/PSDs/Stage Info/stagetop in.psd
DDR SN3/PSDs/Title Menu/dialog.psd
DDR SN3/PSDs/Title Menu/left_panel.psd
DDR SN3/PSDs/Title Menu/profile error.psd
DDR SN3/PSDs/Title Menu/window.psd
DDR SN3/PSDs/backgrounds/effect.psd
DDR SN3/PSDs/backgrounds/honeycomb.psd
DDR SN3/PSDs/backgrounds/round gradient.psd
DDR SN3/PSDs/footer shit/DIFF.psd
DDR SN3/PSDs/footer shit/footer.psd
DDR SN3/PSDs/footer shit/leftright.psd
DDR SN3/PSDs/footer shit/ok.psd
DDR SN3/PSDs/footer shit/oklol.psd
DDR SN3/PSDs/footer shit/sel.psd
DDR SN3/PSDs/footer shit/sort.psd
DDR SN3/PSDs/instructions.psd
DDR SN3/PSDs/misc/latejoin.psd
DDR SN3/PSDs/misc/splash.psd
DDR SN3/PSDs/russel square/_shared_title [main-stroke] 15x15 (doubleres).png
DDR SN3/PSDs/russel square/_shared_title [main] 15x15 (doubleres).png
DDR SN3/PSDs/russel square/_shared_title.ini
DDR SN3/PSDs/score frame/mid.psd
DDR SN3/PSDs/title mockup.psd
DDR SN3/debug.txt
DDR SN3/PSDs/Select Style/_panel2.psd
DDR SN3/BGAnimations/BGScripts/Emi_3.avi
DDR SN3/BGAnimations/BGScripts/Baby-Lon_1.mp4
DDR SN3/BGAnimations/BGScripts/Emi_1.mp4
DDR SN3/BGAnimations/BGScripts/Jenny_2.avi
DDR SN3/BGAnimations/BGScripts/Jenny_1.mp4
SNCharacters/alice/DancerVideos/Alice_1.avi
SNCharacters/baby-lon/DancerVideos/Baby-Lon_1.mp4
SNCharacters/disco/DancerVideos/Disco_1.avi
SNCharacters/emi/DancerVideos/Emi_1.mp4
SNCharacters/emi/DancerVideos/Emi_3.avi
SNCharacters/jenny/DancerVideos/Jenny_1.mp4
SNCharacters/jenny/DancerVideos/Jenny_2.avi
SNCharacters/rage/DancerVideos/Rage_1.avi
SNCharacters/yuni/DancerVideos/Yuni_1.avi
DDR SN3/PSDs/Music Select/Banner random.psd
